.svg-br_arrow-dims {
	width: 12px;
	height: 8px;
}

.svg-camera-dims {
	width: 48px;
	height: 38px;
}

.svg-circular-dims {
	width: 29px;
	height: 30px;
}

.svg-coins-dims {
	width: 37px;
	height: 37px;
}

.svg-dorohov-dims {
	width: 101px;
	height: 29px;
}

.svg-drodd_i_arr-dims {
	width: 8px;
	height: 5px;
}

.svg-dropdown_bg_arr-dims {
	width: 40px;
	height: 13px;
}

.svg-filter_arrow-dims {
	width: 16px;
	height: 13px;
}

.svg-form_comment-dims {
	width: 24px;
	height: 24px;
}

.svg-form_email-dims {
	width: 24px;
	height: 18px;
}

.svg-form_file-dims {
	width: 16px;
	height: 21px;
}

.svg-form_name-dims {
	width: 26px;
	height: 26px;
}

.svg-form_phone-dims {
	width: 24px;
	height: 20px;
}

.svg-home-dims {
	width: 29px;
	height: 30px;
}

.svg-house-dims {
	width: 30px;
	height: 30px;
}

.svg-index11-dims {
	width: 70px;
	height: 70px;
}

.svg-index12-dims {
	width: 80px;
	height: 74px;
}

.svg-index13-dims {
	width: 73px;
	height: 73px;
}

.svg-index14-dims {
	width: 77px;
	height: 70px;
}

.svg-instagram-dims {
	width: 22px;
	height: 22px;
}

.svg-joist-dims {
	width: 52px;
	height: 52px;
}

.svg-logo-dims {
	width: 93px;
	height: 62px;
}

.svg-modal_arrow-dims {
	width: 30px;
	height: 37px;
}

.svg-modal_close-dims {
	width: 45px;
	height: 45px;
}

.svg-plan-dims {
	width: 52px;
	height: 52px;
}

.svg-ruble-dims {
	width: 12px;
	height: 12px;
}

.svg-slider_arrow-dims {
	width: 21px;
	height: 38px;
}

.svg-stopwatch-dims {
	width: 37px;
	height: 37px;
}

.svg-support-dims {
	width: 47px;
	height: 52px;
}

.svg-tool-dims {
	width: 52px;
	height: 52px;
}

.svg-vk-dims {
	width: 41px;
	height: 22px;
}

.svg-youtube-dims {
	width: 31px;
	height: 22px;
}

