.in {
    &-on {
        @extend .slide;
        background: $index_slide1_bg;
        &__inner {
            display: flex;
            justify-content: center;
        }
        &__block {
            max-width: 185px;
            width: 100%;
            text-align: center;
            padding: 0 50px;
            box-sizing: content-box;
            &--icon {
                margin-bottom: 40px;
                img {
                    vertical-align: top;
                    max-height: 70px;
                    height: 100%;
                    width: auto;
                }
            }
            &--text {
                font-size: 18px;
                color: #fff;
            }
        }
    }
    &-tw {
        @extend .slide;
        background: $index_slide2_bg;
        .heading {
            margin-bottom: 55px;
        }
        &__inner {
            @extend .container;
            margin-bottom: 110px;
        }
        &__menu {
            margin-bottom: 40px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                li {
                    margin-right: 25px;
                    position: relative;
                    &:last-child {
                        margin-right: 0;
                    }
                    &::before {
                        content: '';
                        height: 100%;
                        width: 35px;
                        background: #202020;
                        position: absolute;
                        display: block;
                        z-index: 5;
                        transition: .25s all ease;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                        a {
                            color: #FFAD0D;
                        }
                    }
                    a {
                        display: block;
                        padding: 15px 20px;
                        text-decoration: none;
                        height: 100%;
                        color: #FDE1C0;
                        font-size: 18px;
                        position: relative;
                        z-index: 10;
                        transition: .25s all ease;
                    }
                    &.is--active {
                        a {
                            color: #FFAD0D;
                            border: 1px solid #FFAD0D;
                            font-weight: bold;
                        }
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        &__container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            &-left,
            &-right {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
            }
        }
        &__block {
            position: relative;
            margin-bottom: 25px;
            a {
                display: block;
                padding: 0 15px;
                cursor: default;
            }
            &50 {
                width: 100%;
                .in-tw__block {
                    &--info {
                        padding-top: 30px;
                        padding-bottom: 40px;
                        &-right {
                            line-height: 39px;
                            font-size: 30px;
                            span {
                                font-size: 26px;
                                sup {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    &--title,
                    &--comp {
                        font-size: 20px;
                        line-height: 26px;
                    }
                    &--price {
                        font-size: 30px;
                    }
                    &--comp {
                        margin-bottom: 10px;
                    }
                }
            }
            &25 {
                width: 50%;
                .in-tw__block {
                    &--info {
                        padding-top: 18px;
                        padding-bottom: 10px;
                        &-right {
                            font-size: 20px;
                            sup {
                                font-size: 12px;
                            }
                        }
                    }
                    &--title,
                    &--comp {
                        font-size: 14px;
                        line-height: 18px;
                    }
                    &--comp {
                        margin-bottom: 10px;
                    }
                    &--price {
                        font-size: 20px;
                        line-height: 20px;
                        img {
                            max-width: 14px;
                        }
                    }
                }
            }
            &:hover {
                .in-tw__block {
                    &--info {
                        background: rgba(0, 0, 0, .65);
                    }
                }
            }
            &--info {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 15px;
                justify-content: space-between;
                align-items: flex-end;
                width: calc(100% - 30px);
                background: rgba(#000, .5);
                padding: 0 50px;
                cursor: pointer;
                transition: .25s all ease;
                &-right {
                    color: #fff;
                    span {
                        color: #FDE1C0;
                    }
                }
            }
            &--title {
                color: #fff;
            }
            &--comp {
                color: #FDE1C0;
            }
            &--price {
                line-height: 39px;
                color: #fff;
                display: flex;
                img {
                    vertical-align: baseline;
                    width: 22px;
                }
                svg {
                    vertical-align: middle;
                }
            }
            &--img {
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                img {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                }
            }
        }
        &__footer {
            text-align: center;
        }
    }
    &-instruction {
        @extend .slide;
        background: #202020;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            max-width: $grid_width;
            height: 2px;
            background: $color_brown;
            position: absolute;
            display: block;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
        }
        &.__nbtop {
            &::before {
                display: none;
            }
        }
        &__inner {
            @extend .container;
            position: relative;
            max-width: 1450px;
            &::before {
                content: 'V';
                color: $color_brown-light;
                font-size: 100px;
                position: absolute;
                left: -180px;
                top: -160px;
                font-weight: 600;
                font-size: 500px;
                opacity: .05;
                z-index: 5;
            }
            &::after {
                content: 'W';
                color: $color_brown-light;
                font-size: 100px;
                position: absolute;
                right: -280px;
                bottom: 20px;
                font-weight: 600;
                font-size: 500px;
                opacity: .05;
                z-index: 5;
            }
        }
        &__block {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            z-index: 10;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0;
            }
            &.is--left {
                .in-instruction {
                    &__block {
                        &--img {
                            margin-right: 90px;
                        }
                    }
                }
            }
            &.is--right {
                .in-instruction {
                    &__block {
                        &--img {
                            margin-left: 90px;
                        }
                        &--text {
                            max-width: 845px;
                        }
                    }
                }
            }
            &--img {
                max-width: 490px;
                width: 100%;
                img {
                    width: 100%;
                    vertical-align: top;
                }
            }
            &--text {
                h5 {
                    margin: 0 0 20px 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    color: $color_brown-light;
                }
                p {
                    margin: 0 0 15px 0;
                    font-size: 18px;
                    line-height: 27px;
                    color: $color_brown;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &-video {
        @extend .slide;
        background: $color_dark;
        overflow: hidden;
        &.is--vw {
            .in-video {
                &__inner {
                    &::before {
                        content: 'V';
                        color: $color_brown-light;
                        font-size: 100px;
                        position: absolute;
                        right: 350px;
                        top: -160px;
                        font-weight: 600;
                        font-size: 500px;
                        opacity: .05;
                        z-index: 0;
                    }
                    &::after {
                        content: 'W';
                        color: $color_brown-light;
                        font-size: 100px;
                        position: absolute;
                        right: -200px;
                        bottom: 0;
                        font-weight: 600;
                        font-size: 500px;
                        opacity: .05;
                        z-index: 0;
                    }
                }
            }
        }
        &__inner {
            @extend .container;
            position: relative;
        }
        &__top {
            display: flex;
        }
        &__video {
            max-width: 1140px;
            width: 100%;
            iframe {
                width: 100%;
                height: 730px;
            }
        }
        &__text {
            max-width: 500px;
            margin-left: 80px;
            position: relative;
            z-index: 10;
            h4 {
                color: #fff;
            }
            p {
                color: $color_brown-light;
                font-size: 18px;
                line-height: 27px;
            }
        }
        &__item {
            position: relative;
        }
        &__cover {
            img {
                vertical-align: top;
                width: 100%;
            }
        }
        &__controls {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &-play {
                background: url(../../img/video_play.png);
                &:hover {
                    background: url(../../img/video_play_hover.png);
                }
            }
            .in-video--is-btn {
                border: none;
                width: 114px;
                height: 114px;
                outline: none;
                padding: 0;
                cursor: pointer;
                transition: .25s all ease;
            }
        }
        &__bottom {
            margin-top: -100px;
            transition: .25s all ease;
            position: relative;
            z-index: 10;
            &.is--active {
                margin-top: 50px;
            }
            &__list {
                display: flex;
                justify-content: flex-end;
            }
            &__item {
                max-width: 410px;
                width: 100%;
                margin-left: 30px;
                position: relative;
                &--btn {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &--cover {
                    img {
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
            .in-video--is-btn {
                border: none;
                width: 114px;
                height: 114px;
                outline: none;
                padding: 0;
                cursor: pointer;
                transition: .25s all ease;
            }
        }
    }
}

#__in_video__player {
    display: none;
}

@media (max-width: 1900px) {
    .in {
        &-video {
            &__text {
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media (max-width: 1520px) {
    .in {
        &-video {
            &__bottom {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: $resp1400) {
    .in {
        &-tw {
            &__container {
                display: block;
                &-left,
                &-right {
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
        &-instruction {
            &__block {
                margin-bottom: 50px;
                &--text,
                &--img {
                    width: 50%;
                    max-width: 100%;
                }
                &.is--left {
                    .in-instruction {
                        &__block {
                            &--img {
                                margin-right: 0;
                                padding-right: 20px;
                            }
                            &--text {
                                padding-left: 20px;
                            }
                        }
                    }
                }
                &.is--right {
                    .in-instruction {
                        &__block {
                            &--img {
                                margin-left: 0;
                                padding-left: 20px;
                            }
                            &--text {
                                max-width: 845px;
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .in {
        &-tw {
            &__block {
                &--info {
                    padding: 10px 20px !important;
                    &-right {
                        display: none;
                    }
                }
                &--comp {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .in {
        &-on {
            &__inner {
                flex-wrap: wrap;
            }
            &__block {
                width: 50%;
                max-width: 100%;
                box-sizing: border-box;
                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 40px;
                }
            }
        }
        &-tw {
            &__menu {
                ul {
                    display: block;
                    li {
                        margin-bottom: 10px;
                    }
                }
            }
            &__container {
                &-left,
                &-right {
                    width: 100%;
                }
            }
        }
        &-instruction {
            &__block {
                &--text {
                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
        &-video {
            &__top {
                flex-wrap: wrap;
                flex-flow: wrap;
            }
            &__video {
                order: 1;
            }
            &__text {
                width: 100%;
                margin: 0 0 0;
                max-width: 100%;
            }
            &__bottom {
                &__item {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            &.is--vw {
                .in-video {
                    &__text {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .in {
        &-on {
            &__block {
                padding: 0 5px;
                &--text {
                    font-size: 14px;
                }
            }
        }
        &-tw {
            &__inner {
                margin-bottom: 30px;
            }
        }
        &-instruction {
            &__block {
                flex-wrap: wrap;
                width: 100%;
                flex-flow: wrap;
                &--text,
                &--img {
                    padding: 0px !important;
                    width: 100%;
                }
                &--text {
                    h5 {
                        font-size: 18px;
                    }
                }
                &--img {
                    margin-bottom: 30px;
                }
                &.is--right {
                    flex-flow: wrap;
                    .in-instruction {
                        &__block {
                            &--text {
                                order: 1;
                            }
                        }
                    }
                }
            }
        }
        &-video {
            &__controls {
                &-play {
                    width: 50px !important;
                    height: 50px !important;
                    background-size: cover;
                    &:hover {
                        background-size: cover;
                    }
                }
            }
            &__text {
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
                h4 {
                    font-size: 24px;
                }
            }
            iframe {
                height: 200px;
            }
            &__bottom {
                display: none;
            }
        }
    }
}

@media (max-width: 460px) {
    .in {
        &-tw {
            &__block {
                width: 100%;
                &50 {
                    .in-tw__block {
                        &--price {
                            font-size: 20px;
                            img {
                                width: 14px;
                            }
                        }
                        &--title {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}