.breadcrumbs {
    margin-bottom: 35px;
    @extend .container;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            font-size: 13px;
            &.is--parent {
                padding-right: 20px;
                position: relative;
                &::after {
                    content: url(../../img/svg/sprites.svg#br_arrow);
                    width: 11px;
                    height: auto;
                    position: absolute;
                    right: 4px;
                }
                a {
                    color: rgba(#ffffff, .5);
                    transition: .25s all ease;
                    &:hover {
                        color: rgba(#ffffff, .8);
                    }
                }
            }
            &.is--active {
                color: #fff;
            }
        }
    }   
}

@media (max-width: $resp1025) {
    .breadcrumbs {
        margin-bottom: 10px;
    }
}