.form {
    &_b {
        background: $index_slide3_bg;
        @extend .slide;
        &__inner {
            max-width: 920px;
            width: 100%;
            margin: auto;
            form {
                display: flex;
                flex-wrap: wrap;
            }
        }
        &--block3,
        &--block1 {
            padding: 0 10px;
            margin-bottom: 20px;
            position: relative;
            &::before {
                height: 60%;
                content: '';
                width: 1px;
                background: $color_brown;
                display: block;
                position: absolute;
                left: 60px;
                z-index: 10;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                width: 24px;
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-10px);
            }
            &.form_b--block_ {
                &name {
                    &::after {
                        content: url(../../img/svg/sprites.svg#form_name);
                    }
                }
                &phone {
                    &::after {
                        content: url(../../img/svg/sprites.svg#form_phone);
                    }
                }
                &email {
                    &::after {
                        content: url(../../img/svg/sprites.svg#form_email);
                    }
                }
                &comment {
                    &::after {
                        content: url(../../img/svg/sprites.svg#form_comment);
                    }
                }
                &file {
                    &::after {
                        content: url(../../img/svg/sprites.svg#form_file);
                    }
                }
                &submit {
                    padding-top: 20px;
                    text-align: center;
                    margin-bottom: 30px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &--block3 {
            width: 33.33333%;
        }
        &--block1 {
            width: 100%;
        }
        &--blockurl {
            text-align: center;
            width: 100%;
            font-size: 14px;
            padding: 0 15px;
            p {
                color: $color_brown;
                margin: 0;
            }
        }
    }
    &_in {
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
        &--left {
            padding-top: 110px;
            padding-bottom: 90px;
            background: $color_grey;
            width: 60%;
            overflow: hidden;
            padding-right: 15px;
            padding-left: 15px;
            &__header {
                font-weight: 500;
                color: #fff;
                margin-bottom: 50px;
            }
            &__subheader {
                color: $color_brown-light;
                margin-bottom: 35px;
            }
            &__inner {
                max-width: 730px;
                width: 100%;
                margin: 0 auto;
                position: relative;

                &::after {
                    content: 'V';
                    color: $color_brown-light;
                    font-size: 100px;
                    position: absolute;
                    right: -140px;
                    top: -160px;
                    font-weight: 600;
                    font-size: 500px;
                    opacity: .05;
                    z-index: 5;
                }
            }
            &__container {
                display: flex;
                flex-wrap: wrap;
            }
            &__block {
                width: 50%;
                margin-bottom: 35px;
                &--ico {
                    margin-bottom: 20px;
                    img {
                        height: 52px;
                        vertical-align: top;
                        width: auto;
                    }
                }
                &--text {
                    p {
                        color: $color_brown-light;
                        margin: 0;
                    }
                }
            }
        }
        &--right {
            background: #fff;
            width: 40%;
            padding-left: 15px;
            padding-right: 15px;
            &__inner {
                max-width: 460px;
                width: 100%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                form {
                    width: 100%;
                    .form_b--block3 {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            &__form {
                &--header {
                    margin-bottom: 10px;
                }
                &--subheader {
                    margin-bottom: 45px;
                    p {
                        margin: 0;
                        color: $color_brown;
                        font-size: 18px;
                        line-height: 27px;
                    }
                }
                &--push {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &--check {
                    padding-right: 15px;
                }
            }
            .form_b--block1::after, .form_b--block3::after {
                left: 18px;
            }
        }
        .parsley-errors-list {
            left: 0 !important;
        }
    }
}

input[type="file"] {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
.label-input {
    width: 100%;
    display: block;
    padding: 20px 20px 20px 75px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #B69C7D;
    color: $color_brown-dark;
    position: relative;
    transition: .25s all ease;
    &::placeholder {
        color: $color_brown-dark;
    }
    &:focus {
        background: rgba(182, 156, 125, 0.26);
    }
}

.label-input {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
    border: none;
}

.form_check {
    display: flex;
    align-items: center;
    input {
        display: none;
        &:checked + .form_check_cub {
            &::before {
                width: 10px;
                height: 10px;
                background: $color_yellow;
                content: '';
                display: block;
                position: absolute;
                left: 2px;
                top: 2px;
            }
        }
    }
    &_cub {
        width: 16px;
        height: 16px;
        display: block;
        border: 1px solid $color_brown-light;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
    }
    &_text {
        font-size: 14px;
        color: $color_brown;
        line-height: 15px;
        vertical-align: middle;
    }
}

.parsley-errors-list {
    position: absolute;
    &.filled {
        z-index: 10;
        list-style: none;
        margin: 0;
        padding: 5px 10px;
        left: 10px;
        top: 100%;
        background: #ffad0d;
        color: #fff;
    }
}

@media (max-width: $resp1025) {
    .form {
        &_in {
            &__inner {
                display: block;
            }
            &--left {
                width: 100%;
                padding-top: 50px;
            }
            &--right {
                padding-top: 50px;
                padding-bottom: 50px;
                width: 100%;
            }
        }
    }
}

@media (max-width: $resp768) {
    .form {
        &_b {
            &--block {
                &3 {
                    width: 100%;
                }
            }
        }
        &_in {
            &--left {
                &__header {
                    font-size: 32px;
                }
            }
        }
    }
}