body {
    font-family: 'Muller';
    background: $color_bg;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color_yellow;
}

.mb {
    &-0 {
        margin-bottom: 0 !important;
    }
    &-30 {
        margin-bottom: 30px !important;
    }
    &-50 {
        margin-bottom: 50px !important;
    }
}

.pl {
    &-30 {
        padding-left: 30px;
    }
}

.pr {
    &-30 {
        padding-right: 30px;
    }
}

svg {
    vertical-align: top;
}

img {
    width: 100%;
    vertical-align: top;
}

.social-btns {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    z-index: 6;
    li {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}

main {
    &.is--bordered {
        position: relative;
        &::after {
            content: '';
            width: 100%;
            max-width: $grid_width;
            height: 1px;
            background: $color_brown;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@media (max-width: $resp1400) {
    main {
        &.is--bordered {
            &::after {
                width: 85%;
            }
        }
    }
}