.button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $button_font_size;
    letter-spacing: .1em;
    line-height: $button_font_size;
    transition: .25s all ease;
    display: inline-block;
    &.is--bordered {
        padding: 16px 32px 13px 32px;
        border: 2px solid $button_bordered_color;
        color: $button_bordered_color_txt;
        background: transparent;
        &.is--lg {
            padding: 15px 70px 15px 70px;
        }
        &:hover {
            border-color: $button_bordered_color_h;
            background: $button_bordered_color_h;
            color: $button_bordered_color_h_txt;
        }
    }
    &.is--classic {
        padding: 20px 55px;
        background: #FFAD0D;
        color: $color_brown-dark;
        &:hover {
            background: $color_brown;
            color: #fff;
        }
    }
    &.is--sm {
        font-size: 12px;
        border-radius: 2px;
        padding: 10px 25px;
    }
}

@media (max-width: $resp1400){
    .button {
        &.is--bordered {
            padding: 10px 15px;
            font-size: 14px;
            line-height: 14px;
        }
    }
}

@media (max-width: $resp768) {
    .button {
        &.is--classic {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
}