.chome {
    &-on {
        @extend .page;
        background: $color-dark;
        &__inner {
            @extend .container;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            &::before {
                content: 'V';
                color: $color_brown-light;
                font-size: 100px;
                position: absolute;
                right: 50px;
                top: 0px;
                font-weight: 600;
                font-size: 500px;
                opacity: .05;
                z-index: 0;
            }
        }
        &__left {
            max-width: 990px;
            margin-right: 180px;
            width: 100%;
        }
        &__right {
            max-width: 220px;
        }
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 20px;
            li {
                line-height: 30px;
            }
            &-title {
                color: $color_brown-light;
                font-size: 20px;
            }
            &-desc {
                color: #fff;
                font-size: 20px;
                svg {
                    vertical-align: middle;
                }
            }
        }
        &__modal {
            position: relative;
            &__text {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 50px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: absolute;
                z-index: 100;
            }
            &__nav {
                font-size: 25px;
                color: #fff;
                font-weight: 100;
                span {
                    font-weight: 500;
                }
            }
            &__btn {
                width: 100px;
                height: 100px;
                background: #fff;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                cursor: pointer;
            }
            &__pslider {
                .slick-prev {
                    left: 0 !important;
                    z-index: 100;
                }
                .slick-next {
                    right: 0 !important;
                    z-index: 100;
                }
            }
        }
    }
    &-tw {
        background: #fff;
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
        &__left,
        &__right {
            width: 50%;
            padding: 50px;
            display: flex;
            align-items: center;
        }
        &__left {
            &__inner {
                max-width: 740px;
                width: 100%;
                margin: 0 auto;
            }
            &__title {
                color: #000;
                margin-bottom: 40px;
            }
            &__btn {
                margin-bottom: 70px;
                a {
                    font-size: 18px;
                    color: #000;
                    padding-right: 20px;
                    position: relative;
                    &::after {
                        width: 18px;
                        content: url(../../img/svg/sprites.svg#filter_arrow);
                        position: absolute;
                    }
                }
            }
        }
        &__right {
            background: #292929;
            &__inner {
                max-width: 530px;
                width: 100%;
                margin: 0 auto;
            }
            &__img {
                margin-bottom: 60px;
            }
            &__content {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    &.is--pr {
                        margin-bottom: 50px;
                    }
                    li {
                        line-height: 20px;
                        margin-bottom: 10px;
                        a {
                            font-size: 18px;
                            color: $color_brown-light;
                            transition: .25s all ease;
                            &:hover {
                                color: lighten($color_brown-light, 50);
                                .chome-tw__right__content {
                                    ul {
                                        li {
                                            a {
                                                span {
                                                    border-top: 5px solid lighten($color_brown-light, 50);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__tr {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    border: 5px solid transparent;
                    top: 50%;
                    margin-top: -3px;
                    margin-left: 5px;
                    border-top: 5px solid $color_brown-light;
                }
            }
            &__title {
                font-size: 30px;
                color: #fff;
                font-weight: 500;
                margin-bottom: 25px;
            }
        }
    }
    &__slider {
        @extend .slide;
        background: #292929;
        .slider4 {
            max-width: 1820px;
            margin: 0 auto;
            padding: 0 45px;
            .slick-arrow {
                &.slick-next {
                    right: -40px;
                }
                &.slick-prev {
                    left: -40px;
                }
            }
        }
    }
}

.complect {
    @extend .slide;
    background: #292929;
    overflow: hidden;
    &__inner {
        @extend .container;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: 'V';
            color: $color_brown-light;
            font-size: 100px;
            position: absolute;
            left: 35%;
            top: -160px;
            font-weight: 600;
            font-size: 500px;
            opacity: .05;
            z-index: 0;
        }
        &::after {
            content: 'W';
            color: $color_brown-light;
            font-size: 100px;
            position: absolute;
            right: 0px;
            bottom: -160px;
            font-weight: 600;
            font-size: 500px;
            opacity: .05;
            z-index: 0;
        }
    }
    &__img {
        max-width: 700px;
        width: 100%;
        margin-right: 100px;
        z-index: 10;
        position: relative;
    }
    &__content {
        max-width: 650px;
        z-index: 10;
        position: relative;
        p {
            line-height: 23px;
            font-size: 18px;
            color: $color_brown-light;
        }
        .button {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1470px) {
    .chome {
        &-on {
            &__left {
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: $resp1400) {
    .chome {
        &-tw {
            &__left,
            &__right {
                padding: 20px;
            }
            &__left {
                &__title {
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                &__btn {
                    margin-bottom: 30px;
                }
            }
            &__right {
                &__title {
                    font-size: 22px;
                }
                ul {
                    li {
                        line-height: 18px;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .chome {
        &-on {
            &__left {
                margin-right: 50px;
            }
            &__modal {
                &__text {
                    padding: 20px;
                }
                &__btn {
                    width: 70px;
                    height: 70px;
                    svg {
                        width: 50%;
                        height: auto;
                    }
                }
            }
        }
    }
    .complect {
        &__inner {
            flex-wrap: wrap;
        }
        &__img {
            margin: 0 0 30px 0;
            max-width: 100%;
        }
        &__content {
            .button {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 900px) {
    .chome {
        &__slider {
            .slider4 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@media (max-width: $resp768) {
    .chome {
        &-on {
            &__inner {
                flex-wrap: wrap;
            }
            &__left,
            &__right {
                margin: 0;
                width: 100%;
                max-width: 100%;
            }
            &__left {
                margin-bottom: 50px;
            }
            &__modal {
                &__btn {
                    width: 40px;
                    height: 40px;
                }
                &__nav {
                    font-size: 16px;
                }
            }
        }
        &-tw {
            &__left,
            &__right {
                width: 100%;
            }
        }
    }
    .complect {
        &__img {
            margin-bottom: 10px;
        }
        &__content {
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}