.navbar {
    height: $navbar_height;
    transition: .25s all ease;
    @include headerBg();
    z-index: 110;
    width: 100%;
    &.is--opacity {
        background: transparent;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    &.is--fixed {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    &__inner {
        @extend .container;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
        }
        &--img {
            img {
                max-width: 90px;
                width: 100%;
                vertical-align: top;
            }
        }
        &--text {
            max-width: 120px;
            font-size: 14px;
            padding-top: 8px;
            padding-left: 20px;
        }
    }
    &__menu {
        height: 100%;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            height: 100%;
            li {
                height: 100%;
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 18px;
                    color: rgba($navbar_items_color, .8);
                    font-weight: 300;
                    padding: 0 24px;
                    position: relative;
                    &:hover {
                        color: rgba($navbar_items_color, 1);
                    }
                }
            }
        }
        &--dropdown {
            .navbar__menu--link {
                &::after {
                    content: url(../../img/svg/sprites.svg#drodd_i_arr);
                    width: 9px;
                    position: absolute;
                    right: 10px;
                    margin-top: -2px;
                    opacity: .8;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
            &__c {
                position: absolute;
                padding-top: 20px;
                transform: translateX(-25%);
                display: none;
                &__in {
                    display: block !important;
                    height: auto !important;
                    background-color: #202020;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    padding: 25px 0 !important;
                    &::before {
                        content: url(../../img/svg/sprites.svg#dropdown_bg_arr);
                        position: absolute;
                        top: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 40px;
                    }
                }
            }
            &__l {
                padding: 10px 55px !important;
            }
            &:hover {
                .navbar__menu--dropdown {
                    &__c {
                        display: block;
                    }
                }
                .navbar__menu--link {
                    color: #ffffff;
                }
            }
        }
    }
    &__phone {
        a {
            color: $navbar_phone_color;
            text-decoration: none;
            span {
                font-weight: 600;
            }
        }
        &.is--mobile {
            display: block !important;
            padding: 30px 0 0 30px;
            a {
                color: $color_brown-dark;
            }
        }
    }
    &__mobile {
        &--btn {
            display: none;
            .hamburger {
                outline: none;
                &-inner {
                    background-color: $navbar_items_color !important;
                    &::before,
                    &::after {
                        background-color: $navbar_items_color !important;
                    }
                }
            }
        }
        &--container {
            position: fixed;
            width: 100%;
            height: calc(100vh - 80px);
            left: 0;
            top: 80px;
            background: $color_bg;
            transform: translateX(-100%);
            transition: .25s all ease;
            display: none;
        }
        &--menu {
            padding: 20px 0 0 0;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    a {
                        color: $color_brown-dark;
                        text-decoration: none;
                        font-size: 18px;
                        display: block;
                        padding: 10px 0 10px 30px;
                        position: relative;
                        &::after {
                            height: 2px;
                            max-width: 100px;
                            width: 0;
                            background: $color_brown-dark;
                            position: absolute;
                            left: 30px;
                            bottom: 0;
                            content: '';
                            transition: .75s all ease;
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &.is--open {
        @include headerBg();
        position: fixed !important;
        .navbar__mobile--container {
            transform: translateX(0)
        }
    }
    &.is--opacity {
        .navbar__menu--dropdown {
            &__c {
                padding-top: 0;
                &__in {
                    &::before {
                        top: -17px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1550px){
    .navbar {
        &__menu {
            ul {
                li {
                    a {
                        padding: 0 10px;
                        font-size: 16px;
                    }
                    &.navbar__menu--dropdown {
                        a {
                            padding-right: 15px;
                            &::after {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
        &__logo {
            &--text {
                display: none;
            }
        }
    }   
}

@media (max-width: $resp1200) {
    .navbar {
        &__btn {
            display: none;
        }
    }
}

@media (max-width: $resp1025) {
    .navbar {
        &__phone {
            display: none;
        }
        &--dropdown {
            &__c {
                display: none !important;
            }
            .navbar__menu--link {
                padding-right: 10px !important;
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 845px) {
    .navbar {
        height: 80px;
        &__logo {
            &--img {
                img {
                    max-width: 70px;
                }
            }
        }
        &__menu {
            display: none;
        }
        &__mobile {
            &--btn {
                display: block;
            }
            &--container {
                display: block;
            }
        }
    }
}