#slider-range {
    width: 100%;
    position: relative;
    height: 16px;
    background: transparent;
    min-width: 190px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    &::after {
        height: 2px;
        background: #fff;
        content: '';
        width: 100%;
        position: absolute;
        z-index: 8;
    }
}

.ui-slider-handle {
    width: 14px;
    height: 14px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    border: 2px solid $color-yellow;
    top: 0px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    margin-left: -.6em;
}

.ui-slider-range {
    height: 2px;
    background: $color-yellow;
    position: absolute;
    z-index: 9;
}