$resp1920:                              1920px;
$resp1400:                              1400px;
$resp1200:                              1200px;
$resp1025:                              1025px;
$resp768:                               768px;
$resp320:                               320px;

$h1_fsize:          64px;
$h2_fsize:          48px;
$h3_fsize:          36px;
$h4_fsize:          30px;
$h5_fsize:          24px;
$h6_fsize:          18px;

$color_brown-dark:  #3A2C1F;
$color_brown:       #B69C7D;
$color_brown-light: #FDE1C0;
$color_yellow:      #FFAD0D;
$color_grey:        #393D3F;
$color_dark:        #202020;

$color_bg:              #E5E5E5;

$grid_col_paddings: 15px;
$grid_width:                      1720px;

$navbar_height:                   110px;
$navbar_items_color:            #ffffff;

$navbar_phone_color:                $color_brown-light;

$button_font_size:                 16px; 
$button_bordered_color:            #C4C4C4;
$button_bordered_color_txt:        $button_bordered_color;
$button_bordered_color_h:          #FFAD0D;
$button_bordered_color_h_txt:      $color_brown-dark;

// 

$index_slide1_bg: #2C2E2F;
$index_slide2_bg: #393D3F;
$index_slide3_bg: #ffffff;