$h1_fsize:          64px;
$h2_fsize:          48px;
$h3_fsize:          36px;
$h4_fsize:          30px;
$h5_fsize:          24px;
$h6_fsize:          18px;

$color_brown-dark:  #3A2C1F;
$color_brown:       #B69C7D;
$color_brown-light: #FDE1C0;
$color_yellow:      #FFAD0D;
$color_grey:        #393D3F;
$color_dark:        #202020;

$grid_col_paddings: 15px;
$grid_width:        1720px;