.work {
    &-in {
        @extend .page;
        background: $color-dark;
        min-height: calc(100vh - 110px - 90px);
        overflow: hidden;
        .heading,
        .breadcrumbs {
            max-width: 1430px;
        }
        &__inner {
            display: flex;
            @extend .container;
            max-width: 1430px;
            position: relative;
            &::before {
                content: 'V';
                color: $color_brown-light;
                font-size: 100px;
                position: absolute;
                left: -180px;
                top: -260px;
                font-weight: 600;
                font-size: 500px;
                opacity: .05;
                z-index: 5;
            }
            &::after {
                content: 'W';
                color: $color_brown-light;
                font-size: 100px;
                position: absolute;
                right: -180px;
                bottom: -260px;
                font-weight: 600;
                font-size: 500px;
                opacity: .05;
                z-index: 5;
            }
        }
        &__item {
            width: 100%;
            position: relative;
            z-index: 10;
            &:hover {
                .work-in {
                    &__item {
                        &__content {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &__inner {
                height: 410px;
                width: 100%;
                transition: .25s all ease;
                background-size: cover;
                background-position: center;
            }
            &__content {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 35px 50px;
                opacity: 0;
                visibility: hidden;
                transition: .25s all ease;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-end;
                background: rgba(#000, .5);
            }
            &__title {
                line-height: 33px;
                font-size: 30px;
                font-weight: bold;
                color: #fff;
                margin-bottom: 30px;
                width: 100%;
            }
            &:first-child {
                margin-right: 15px;
            }
            &:last-child {
                margin-left: 15px;
            }
            &:hover {
                .work-in {
                    &__item {
                        
                    }
                }
            }
        }
    }
    &-cat {
        @extend .page;
        background: $color-dark;
        min-height: calc(100vh - 110px - 90px);
        overflow: hidden;
        &__inner {
            @extend .container;
        }
        &__wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .in-tw__block25 {
                width: 25%;
            }
        }
        &__menu {
            margin-bottom: 70px;
            display: flex;
            &__title {
                font-size: 18px;
                color: $color_brown-light;
                font-weight: 500;
                margin-bottom: 15px;
            }
            &__block {
                flex-wrap: wrap;
                display: flex;
                &.is--pricerange {
                    margin-left: auto;
                }
            }
            &__list {
                width: 100%;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    li {
                        margin-right: 45px;
                        a {
                            display: flex;
                            align-items: center;
                            color: #fff;
                        }
                    }
                }
                &__ico {
                    max-width: 30px;
                    width: 100%;
                    margin-right: 5px;
                }
                &__text {
                    font-size: 18px;
                    padding-top: 5px;
                }
            }
            &__filter {
                margin-left: 70px;
                &__wrap {
                    display: flex;
                    a {
                        color: #fff;
                        font-size: 18px;
                        padding-right: 20px;
                        position: relative;
                        display: block;
                        &::after {
                            content: url(../../img/svg/sprites.svg#filter_arrow);
                            position: absolute;
                            width: 18px;
                        }
                    }
                    span {
                        font-size: 13px;
                    }
                }
                &__item {
                    margin-right: 30px;
                }
            }
            &__pricerange {
                width: 100%;
                padding-left: 20px;
                padding-right: 40px;
                position: relative;
                &::before {
                    content: 'от';
                    position: absolute;
                    font-size: 13px;
                    color: #fff;
                    left: 0px;
                    top: -5px;
                }
                &::after {
                    content: 'до';
                    position: absolute;
                    font-size: 13px;
                    color: #fff;
                    right: 0px;
                    top: -5px;
                }
                &__values {
                    display: flex;
                    padding-top: 15px;
                    justify-content: space-between;
                    margin-right: -10px;
                    input[type="text"] {
                        padding: 0;
                        width: auto;
                        border: none;
                    }
                }
                &__value {
                    font-size: 10px;
                    font-style: italic;
                    color: #fff;
                    font-weight: 300;
                }
            }
        }
        &__btn {
            text-align: center;
            padding-top: 30px;
        }
    }
    &-home {
        @extend .page;
        background: $color_dark;
        overflow: hidden;
        &__inner {
            @extend .container;
            position: relative;
            z-index: 10;
        }
        &__slider {
            max-width: 1200px;
            margin: 0 auto;
            &__bottom {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    transform: translateY(-50%);
                    li {
                        margin-left: 25px;
                        a {
                            display: block;
                            cursor: pointer;
                            &.home-slider-item {
                                transition: .25s all ease;
                                img {
                                    width: auto;
                                    height: 100%;
                                    max-height: 220px;
                                    transition: .25s all ease;
                                }
                            }
                        }
                        &:hover {
                            .home-slider-item {
                                transform: translateY(-10px);
                            }
                        }
                    }
                }
            }
        }
        &__video {
            @extend .slide;
            &__inner {
                display: flex;
                align-items: center;
                position: relative;
                &::before {
                    content: 'V';
                    color: $color_brown-light;
                    font-size: 100px;
                    position: absolute;
                    right: -50px;
                    top: -160px;
                    font-weight: 600;
                    font-size: 500px;
                    opacity: .05;
                    z-index: -1;
                }
                &::after {
                    content: 'W';
                    color: $color_brown-light;
                    font-size: 100px;
                    position: absolute;
                    left: 50px;
                    bottom: -350px;
                    font-weight: 600;
                    font-size: 500px;
                    opacity: .05;
                    z-index: -1;
                }
            }
            &__left {
                max-width: 850px;
                min-width: 850px;
                margin-right: 70px;
            }
            &__title {
                color: #fff;
                line-height: 33px;
                font-size: 30px;
                font-weight: 600;      
                margin-bottom: 15px;          
            }
            &__desc {
                max-width: 655px;
                margin-bottom: 45px;
                p {
                    margin: 0;
                    line-height: 23px;
                    font-size: 18px;
                    color: $color_brown-light;
                }
            }
            &__list {
                display: flex;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    &:first-child {
                        margin-right: 20px;
                    }
                    li {
                        font-size: 18px;
                        color: $color_brown-light;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        &__morevideo {
            background: $color-dark;
            &__title {
                line-height: 33px;
                font-size: 30px;
                color: #fff;
                font-weight: 500;
                max-width: 790px;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 40px;
                padding: 0 15px;
            }
        }
    }
}

@media (max-width: 1500px) {
    .work {
        &-cat {
            &__menu {
                flex-wrap: wrap;
                &__block {
                    &.is--filters {
                        width: 100%;
                    }
                    &.is--pricerange {
                        margin: 0 auto 0 0;
                    }
                }
                &__filter {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &.__filters {
        margin-bottom: 0;
        .work-cat__menu__block {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: $resp1400){
    .work {
        &-cat {
            &__wrap {
                .in-tw__block {
                    width: 33.333333%;
                }
            }
        }
        &-home {
            &__slider {
                &__top {
                    margin-bottom: 30px;
                }
                &__bottom {
                    ul {
                        transform: none;
                        justify-content: center;
                        li {
                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                &.home-slider-item {
                                    img {
                                        max-height: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__video {
                &__inner {
                    flex-wrap: wrap;
                }
                &__left {
                    max-width: 100%;
                    min-width: 0;
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: 50px;
                    .in-video__video {
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .heading {
        &.is--bgsub {
            .heading_sub {
                font-size: 20px !important;
                line-height: 22px !important;
            }
        }
    }
}

@media (max-width: $resp1025) {
    .work {
        &-cat {
            &__wrap {
                .in-tw__block {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .work {
        &-in {
            &__inner {
                display: block;
            }
            &__item {
                margin: 0 !important;
                &:first-child {
                    margin-bottom: 30px !important;
                }
                &__content {
                    padding: 20px 15px;
                }
                &__inner {
                    height: 300px;
                    opacity: .5;

                }
                &__title {
                    font-size: 26px;
                    line-height: 28px;
                }
                &__content {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        &-cat {
            &__wrap {
                .in-tw__block {
                    width: 100%;
                }
            }
        }
        &-home {
            &__slider {
                &__top {
                    margin-bottom: 0;
                }
                &__bottom {
                    display: none;
                }
            }
            &__morevideo {
                &__title {
                    font-size: 22px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .work {
        &-cat {
            &__menu {
                &__block {
                    &.is--filters {
                        display: none;
                    }
                    &.is--types {
                        width: 100%;
                        .work-cat__menu__list {
                            ul {
                                display: block;
                                li {
                                    margin-bottom: 20px;
                                    margin-right: 0;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    a {
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .heading {
        &.is--bgsub {
            .heading_sub {
                font-size: 16px !important;
                line-height: 18px !important;
            }
        }
    }
}